<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Machine Learning tool to detect whooping cranes in images">
    <title>Whooping Crane Detector</title>
    
    <!-- Link to CSS file-->
    <link rel="stylesheet" href="style.css">
    
</head>
<body>
    
    <!-- Header -->
    <header>
        <h1>Whooping Crane Detector</h1>
        <nav>
            <ul>
            </ul>
        </nav>
    </header>


    <!-- Image Upload  -->
    <section id="upload">
        <h2>Upload Your Images</h2>
        <p>Select a file to analyze for whooping cranes.</p>
        <input type="file" id="imageUpload" accept="image/*">
        <div id="result">
        </div>
    </section>


</body>
</html>
